* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

p {
    color: #fff;
    font-size: 18px;
}

.displayFlex {
    display: flex;
}

main {
    background: url(img/bgImg.png);
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.19);
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

header h1 {
    width: 270px;
}

header h1 a,
header div a {
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

header div {
    width: 150px;
    justify-content: space-between;
}

/* section 2 */

.WeatherSection {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 90vh;
}

.leftBox {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(16px);
    border-radius: 48px;
    text-align: center;
    width: 450px;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    display: flex;
}

.moreInfo {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.citySerchLabel {
    width: 70%;
    height: 40px;
    border: 1px solid rgb(211, 203, 203);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
}
.citySerch {
    border: none;
    background-color: initial;
    width: 90%;
    height: 90%;
    outline: none;
    color: #fff;
    font-size: 22px;
}

.moreInfoWraper {
    width: 375px;
    height: 79px;
    border-radius: 12px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.cytiName {
    text-align: start;
}

.cytiName h2 {
    margin-bottom: 20px;
}

.cytyBox {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midelBox {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midelBox h2 {
    font-size: 100px;
    display: flex;
}

.midelBox h2,
.cytiName h2 {
    color: #fff;
}

.moreInfoWraperDiv {
    display: flex;
    width: 45%;
    text-align: start;
    align-items: center;
    gap: 20px;
}

.moreInfoWraper .smollLIne {
    width: 2px;
    height: 30px;
    background-color: bisque;
}

.moreInfoWraper div img {
    width: 12px;
    height: 20px;
}

.addNewLocation {
    justify-content: center;
    align-items: center;
}

.addImg {
    width: 130px;
    height: 130px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.addImg:hover {
    width: 140px;
    height: 140px;
    background-color: rgb(51, 64, 51);
}

.midelBox1h2p {
    font-size: 24px;
}

/* responsive */

@media (max-width: 400px) {
    header {
        justify-content: center;
    }
    .ringhtHeader {
        display: none;
    }
    .leftBox {
        width: 90%;
    }
    .cytyBox {
        width: 85%;
    }
    .moreInfoWraper {
        width: 75%;
    }
    .midelBox {
        height: 255px;
    }
    .midelBox h2 {
        font-size: 70px;
    }
}
